# {{.ProblemTitle}}

**Difficulty:** {{.Difficulty}}  
**URL:** ...

## Description

{{.ProblemDescription}}

## Examples

```text
Input:  
Output:  
```

## Benchmark tests

For benchmark tests related to this task, please refer to the [bench.md](iterations/bench.md) file.
